In [1]:
# Import the data file
from google.colab import files
uploaded = files.upload()

Saving houses2.csv to houses2.csv

In [541]:
import io
import pandas as pd

# Read the data
X = pd.read_csv(io.BytesIO(uploaded['houses2.csv']))
X_full = X.copy()

In [342]:
X.corr()

              price       bed      bath       gar  sizeFloor   sizeErf
price      1.000000  0.381359  0.532614  0.258201   0.624719  0.166813
bed        0.381359  1.000000  0.809991  0.558491   0.610220  0.162959
bath       0.532614  0.809991  1.000000  0.510572   0.640795  0.172507
gar        0.258201  0.558491  0.510572  1.000000   0.515788  0.151347
sizeFloor  0.624719  0.610220  0.640795  0.515788   1.000000       NaN
sizeErf    0.166813  0.162959  0.172507  0.151347        NaN  1.000000

In [445]:
#print a summary of the data
X_full.describe()

              price           bed  ...    sizeFloor        sizeErf
count  1.661000e+04  16418.000000  ...  7884.000000    7694.000000
mean   4.220758e+06      2.805275  ...   100.118595     786.298154
std    6.053973e+06      1.488192  ...    86.378733    2168.768798
min    2.000000e+05      0.500000  ...    17.000000      28.000000
25%    1.595000e+06      2.000000  ...    58.000000     282.000000
50%    2.500000e+06      3.000000  ...    77.000000     497.000000
75%    4.350000e+06      3.000000  ...   110.000000     810.750000
max    1.725000e+08     33.000000  ...  2203.000000  142048.000000

[8 rows x 6 columns]

58 Parking Spaces? Probably very different definitions, not sure if can be used.

In [344]:
X_full.head()

    price   desc              loc  bed  ...  gar  sizeFloor  sizeErf           area
0  200000  House  Sir Lowrys Pass  1.0  ...  NaN        NaN      NaN  somerset-west
1  200000  House     Mandela Park  2.0  ...  NaN        NaN    113.0     cape-flats
2  200000  House     Mandela Park  3.0  ...  NaN        NaN    150.0     cape-flats
3  220000  House       Broadlands  2.0  ...  NaN        NaN    270.0  strand-gordon
4  240000  House        Nonqubela  2.0  ...  NaN        NaN     78.0     cape-flats

[5 rows x 9 columns]

In [542]:
X_full.columns = ["Price", "Acc_type", "sub", "bed", "bath", "park", "sizeFloor","sizeErf","area"]

In [434]:
X_full.head()

    Price Acc_type              sub  ...  sizeFloor  sizeErf           area
0  200000    House  Sir Lowrys Pass  ...        NaN      NaN  somerset-west
1  200000    House     Mandela Park  ...        NaN    113.0     cape-flats
2  200000    House     Mandela Park  ...        NaN    150.0     cape-flats
3  220000    House       Broadlands  ...        NaN    270.0  strand-gordon
4  240000    House        Nonqubela  ...        NaN     78.0     cape-flats

[5 rows x 9 columns]

In [347]:
X_full.corr()

              Price       bed      bath      park  sizeFloor   sizeErf
Price      1.000000  0.381359  0.532614  0.258201   0.624719  0.166813
bed        0.381359  1.000000  0.809991  0.558491   0.610220  0.162959
bath       0.532614  0.809991  1.000000  0.510572   0.640795  0.172507
park       0.258201  0.558491  0.510572  1.000000   0.515788  0.151347
sizeFloor  0.624719  0.610220  0.640795  0.515788   1.000000       NaN
sizeErf    0.166813  0.162959  0.172507  0.151347        NaN  1.000000

Removing outliers:
Random Forest: 1565095.537082523
XGBoost : 1442314.659502813

In [544]:
X_testbla = X_full[X_full['Acc_type'] == 'House']

In [550]:
X_test1 = X_testbla[X_testbla['Price'] < 10000000]  
X_test2 = X_test1[X_test1['bed'] < 9]  
X_test3 = X_test2[X_test2['bath'] < 7]  
X_test4 = X_test3[X_test3['park'] < 9]  
#X_test5 = X_test4[X_test4['sizeFloor'] < 220]
X_test5 = X_test4[X_test4['sizeErf'] < 7500]

In [521]:
X_test6 = X_test5[X_test5['Acc_type'] == 'Apartment']

In [551]:
len(X_test5.index)

5603

In [552]:
X_test5.head()

     Price Acc_type            sub  ...  sizeFloor  sizeErf           area
12  310000    House        Nomzamo  ...        NaN    204.0  strand-gordon
21  350000    House       Tafelsig  ...        NaN    213.0     cape-flats
25  370000    House  Philippi East  ...        NaN    130.0     cape-flats
31  380000    House       Tafelsig  ...        NaN    237.0     cape-flats
43  399000    House      Eastridge  ...        NaN    199.0     cape-flats

[5 rows x 9 columns]

In [332]:
len(X_full.index)

16610

In [553]:
X_test5.describe()

              Price          bed  ...  sizeFloor      sizeErf
count  5.603000e+03  5603.000000  ...        0.0  5603.000000
mean   3.618501e+06     3.508388  ...        NaN   611.266464
std    2.027204e+06     0.977807  ...        NaN   492.734924
min    3.100000e+05     1.000000  ...        NaN    37.000000
25%    2.195000e+06     3.000000  ...        NaN   309.000000
50%    3.050000e+06     3.000000  ...        NaN   498.000000
75%    4.500000e+06     4.000000  ...        NaN   744.000000
max    9.999000e+06     8.000000  ...        NaN  7250.000000

[8 rows x 6 columns]

In [554]:
X = X_full.copy()

In [555]:
X_full = X_test5.copy()

In [556]:
X_full.describe()

              Price          bed  ...  sizeFloor      sizeErf
count  5.603000e+03  5603.000000  ...        0.0  5603.000000
mean   3.618501e+06     3.508388  ...        NaN   611.266464
std    2.027204e+06     0.977807  ...        NaN   492.734924
min    3.100000e+05     1.000000  ...        NaN    37.000000
25%    2.195000e+06     3.000000  ...        NaN   309.000000
50%    3.050000e+06     3.000000  ...        NaN   498.000000
75%    4.500000e+06     4.000000  ...        NaN   744.000000
max    9.999000e+06     8.000000  ...        NaN  7250.000000

[8 rows x 6 columns]

In [557]:
# Remove rows with missing target, separate target from predictors
X_full.dropna(axis=0, subset=['Price'], inplace=True)
y = X_full.Price              
X_full.drop(['Price'], axis=1, inplace=True)

In [558]:
# Make copy to avoid changing original data (when imputing)
X_test = X_full.copy()

In [421]:
X_test.head()

     Acc_type            sub  bed  ...  sizeFloor  sizeErf              area
5   Apartment  Philippi East  2.0  ...        NaN      NaN        cape-flats
8   Apartment        Wynberg  1.0  ...       30.0      NaN  southern-suburbs
9   Apartment    Grassy Park  2.0  ...        NaN      NaN  southern-suburbs
10      House        Lwandle  3.0  ...      140.0      NaN     strand-gordon
11      House         Harare  2.0  ...        NaN      NaN        cape-flats

[5 rows x 8 columns]

In [374]:
X_test5.corr()

              Price       bed      bath      park  sizeFloor  sizeErf
Price      1.000000  0.302131  0.521427  0.286919   0.613818      NaN
bed        0.302131  1.000000  0.643599  0.418195   0.679147      NaN
bath       0.521427  0.643599  1.000000  0.452033   0.700167      NaN
park       0.286919  0.418195  0.452033  1.000000   0.484996      NaN
sizeFloor  0.613818  0.679147  0.700167  0.484996   1.000000      NaN
sizeErf         NaN       NaN       NaN       NaN        NaN      NaN

Initially, we just replace Nan with 0 in the floor and erf sizes columns.

In [398]:
X_test['sizeFloor'] = X_test['sizeFloor'].fillna(0)

In [399]:
X_test['sizeErf'] = X_test['sizeErf'].fillna(0)

In [400]:
X_test.head()

  Acc_type              sub  bed  bath  park  sizeFloor  sizeErf           area
0    House  Sir Lowrys Pass  1.0   1.0   NaN        0.0      0.0  somerset-west
1    House     Mandela Park  2.0   1.0   NaN        0.0    113.0     cape-flats
2    House     Mandela Park  3.0   1.0   NaN        0.0    150.0     cape-flats
3    House       Broadlands  2.0   1.0   NaN        0.0    270.0  strand-gordon
4    House        Nonqubela  2.0   1.0   NaN        0.0     78.0     cape-flats

Remove "park" because of weird value. Does not improve considerably RMSE: 5607703.4705039365

In [ ]:
X_test = X_test.drop('park', 1)

In [ ]:
X_test.head()

    Acc_type                    sub  bed  bath  sizeFloor  sizeErf
0  Apartment             Rondebosch  0.5   1.0       39.0      0.0
1  Apartment  Cape Town City Centre  4.0   3.0      137.0      0.0
2      House             Constantia  4.0   3.0        0.0   1992.0
3      House             Constantia  4.0   3.5        0.0   3999.0
4      House             Constantia  4.0   4.0        0.0   1992.0

Other approach: merge sizes: 5503509.257517554

In [455]:
X_test.head()

     Acc_type            sub  bed  ...  sizeFloor  sizeErf              area
5   Apartment  Philippi East  2.0  ...        NaN      NaN        cape-flats
8   Apartment        Wynberg  1.0  ...       30.0      NaN  southern-suburbs
9   Apartment    Grassy Park  2.0  ...        NaN      NaN  southern-suburbs
10      House        Lwandle  3.0  ...      140.0      NaN     strand-gordon
11      House         Harare  2.0  ...        NaN      NaN        cape-flats

[5 rows x 8 columns]

In [456]:
# Make copy to avoid changing original data (when imputing)
X_test_plus = X_test.copy()

In [457]:
X_test_plus.head()

     Acc_type            sub  bed  ...  sizeFloor  sizeErf              area
5   Apartment  Philippi East  2.0  ...        NaN      NaN        cape-flats
8   Apartment        Wynberg  1.0  ...       30.0      NaN  southern-suburbs
9   Apartment    Grassy Park  2.0  ...        NaN      NaN  southern-suburbs
10      House        Lwandle  3.0  ...      140.0      NaN     strand-gordon
11      House         Harare  2.0  ...        NaN      NaN        cape-flats

[5 rows x 8 columns]

In [458]:
len(X_test_plus.index)

12880

In [459]:
import numpy as np

for i in X_test_plus.index:
  if pd.notnull(X_test_plus.loc[i,'sizeFloor']):
      X_test_plus.loc[i,'Size_select'] = 1
  elif pd.notnull(X_test_plus.loc[i,'sizeErf']):
      X_test_plus.loc[i,'Size_select'] = 2
  else:
      X_test_plus.loc[i,'Size_select'] = 0    
'''
X_test_plus['Size_select'] = np.where(pd.notnull(),
         1,
         np.where((df.b == "N")&(~df.c.isnull()),
                  df.a*df.c,
                  df.a))
pd.notnull(df.c)
X_test_plus.SizeFloor
'''

'\nX_test_plus[\'Size_select\'] = np.where(pd.notnull(),\n         1,\n         np.where((df.b == "N")&(~df.c.isnull()),\n                  df.a*df.c,\n                  df.a))\npd.notnull(df.c)\nX_test_plus.SizeFloor\n'

In [460]:
X_test_plus

        Acc_type                 sub  ...               area  Size_select
5      Apartment       Philippi East  ...         cape-flats          0.0
8      Apartment             Wynberg  ...   southern-suburbs          1.0
9      Apartment         Grassy Park  ...   southern-suburbs          0.0
10         House             Lwandle  ...      strand-gordon          1.0
11         House              Harare  ...         cape-flats          0.0
...          ...                 ...  ...                ...          ...
15336      House  Clara Anna Fontein  ...   northern-suburbs          2.0
15337      House   Silvertree Estate  ...   southern-suburbs          2.0
15338      House         La Concorde  ...      somerset-west          2.0
15343      House            Bel'aire  ...      somerset-west          2.0
15344  Apartment           Camps Bay  ...  atlantic-seaboard          0.0

[12880 rows x 9 columns]

In [461]:
for i in X_test_plus.index:
  if pd.isnull(X_test_plus.loc[i,'Size_select']):
    print(X_test_plus.loc[i,'Size_select'])

In [462]:
X_test_plus.Size_select.astype(bool).sum(axis=0)

12069

In [463]:
len(X_test_plus.index)

12880

In [464]:
X_test_plus.sizeErf.fillna(0, inplace=True)
X_test_plus.sizeFloor.fillna(0, inplace=True)
X_test_plus["Size"] = X_test_plus["sizeFloor"] + X_test_plus["sizeErf"]

In [465]:
X_test_plus.head()

     Acc_type            sub  bed  ...              area  Size_select   Size
5   Apartment  Philippi East  2.0  ...        cape-flats          0.0    0.0
8   Apartment        Wynberg  1.0  ...  southern-suburbs          1.0   30.0
9   Apartment    Grassy Park  2.0  ...  southern-suburbs          0.0    0.0
10      House        Lwandle  3.0  ...     strand-gordon          1.0  140.0
11      House         Harare  2.0  ...        cape-flats          0.0    0.0

[5 rows x 10 columns]

Consider removing when size = 0, or changing to "nan"

In [466]:
X_test_plus = X_test_plus.drop('sizeErf', 1)
X_test_plus = X_test_plus.drop('sizeFloor', 1)

In [467]:
X_test_plus.head()

     Acc_type            sub  bed  ...              area  Size_select   Size
5   Apartment  Philippi East  2.0  ...        cape-flats          0.0    0.0
8   Apartment        Wynberg  1.0  ...  southern-suburbs          1.0   30.0
9   Apartment    Grassy Park  2.0  ...  southern-suburbs          0.0    0.0
10      House        Lwandle  3.0  ...     strand-gordon          1.0  140.0
11      House         Harare  2.0  ...        cape-flats          0.0    0.0

[5 rows x 8 columns]

Drop sub column with sizes merged:
Random Forest : 3807190.167069573
XGBoost : 3657114.2022407562

In [468]:
X_test_plus = X_test_plus.drop('sub', 1)

In [559]:
X_test = X_test.drop('sub', 1)

In [560]:
X_test = X_test.drop('sizeFloor', 1)

In [561]:
X_test.head()

   Acc_type  bed  bath  park  sizeErf           area
12    House  2.0   1.0   1.0    204.0  strand-gordon
21    House  2.0   1.0   1.0    213.0     cape-flats
25    House  2.0   1.0   1.0    130.0     cape-flats
31    House  3.0   1.0   1.0    237.0     cape-flats
43    House  3.0   1.0   1.0    199.0     cape-flats

In [469]:
X_test_plus.head()

     Acc_type  bed  bath  park              area  Size_select   Size
5   Apartment  2.0   1.0   1.0        cape-flats          0.0    0.0
8   Apartment  1.0   1.0   1.0  southern-suburbs          1.0   30.0
9   Apartment  2.0   1.0   1.0  southern-suburbs          0.0    0.0
10      House  3.0   1.0   1.0     strand-gordon          1.0  140.0
11      House  2.0   1.0   2.0        cape-flats          0.0    0.0

In [363]:
X_test_plus = X_test_plus.drop('sizeErf', 1)

In [364]:
X_test_plus.head()

     Acc_type  bed  bath  park  sizeFloor              area
8   Apartment  1.0   1.0   1.0       30.0  southern-suburbs
10      House  3.0   1.0   1.0      140.0     strand-gordon
16  Apartment  1.0   1.0   1.0       38.0  northern-suburbs
26  Apartment  1.0   1.0   1.0       35.0  northern-suburbs
27  Apartment  1.0   1.0   1.0       30.0  southern-suburbs

In [470]:
X_test_plus.Size.replace(0, np.nan, inplace=True)

In [471]:
X_test_plus.head()

     Acc_type  bed  bath  park              area  Size_select   Size
5   Apartment  2.0   1.0   1.0        cape-flats          0.0    NaN
8   Apartment  1.0   1.0   1.0  southern-suburbs          1.0   30.0
9   Apartment  2.0   1.0   1.0  southern-suburbs          0.0    NaN
10      House  3.0   1.0   1.0     strand-gordon          1.0  140.0
11      House  2.0   1.0   2.0        cape-flats          0.0    NaN

outliers

In [44]:
X_full.park.isnull()

0         True
1         True
2         True
3         True
4         True
         ...
16605    False
16606    False
16607    False
16608    False
16609    False
Name: park, Length: 16610, dtype: bool

In [46]:
import numpy as np
import scipy.stats as stats
out=[]
def ZRscore_outlier(df):
    med = np.median(df)
    ma = stats.median_absolute_deviation(df)
    for i in df: 
        z = (0.6745*(i-med))/ (np.median(ma))
        if np.abs(z) > 3: 
            out.append(i)
    print("Outliers:",out)
ZRscore_outlier(y)

Outliers: [9970000, 9975000, 9975000, 9990000, 9990000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9999000, 9999000, 9999500, 10000000, 10000000, 10000000, 10000000, 10000000, 10000000, 10000000, 10000000, 10000000, 10000000, 10050000, 10200000, 10200000, 10200000, 10220000, 10250000, 10250000, 10300000, 10350000, 10350000, 10400000, 10450000, 10450000, 10490000, 10490000, 10495000, 10495000, 10495000, 10495000, 10495000, 10499000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10500000, 10599000, 10600000, 10650000, 10650000, 10650000, 10695000, 10695000, 10699000, 10700000, 10700000, 10700000, 10700000, 10700000, 10700000, 10750000, 10750000, 10750000, 10750000, 10750000, 10750000, 10800000, 10800000, 10800000, 10800000, 10800000, 10800000, 10800000, 10850000, 10850000, 10850000, 10850000, 10850000, 10870000, 10895000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10900000, 10925000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10950000, 10990000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10995000, 10996000, 10999000, 11000000, 11000000, 11000000, 11000000, 11000000, 11000000, 11000000, 11200000, 11250000, 11250000, 11250000, 11250000, 11250000, 11250000, 11250000, 11300000, 11395000, 11400000, 11450000, 11490000, 11495000, 11495000, 11495000, 11495000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11500000, 11520000, 11550000, 11600000, 11600000, 11600000, 11750000, 11750000, 11750000, 11750000, 11750000, 11750000, 11750000, 11800000, 11800000, 11850000, 11850000, 11895000, 11900000, 11900000, 11900000, 11900000, 11900000, 11900000, 11900000, 11900000, 11900000, 11900000, 11900000, 11900000, 11900000, 11900000, 11900000, 11900000, 11950000, 11950000, 11950000, 11950000, 11950000, 11950000, 11950000, 11950000, 11950000, 11950000, 11950000, 11990000, 11990000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11995000, 11999000, 12000000, 12000000, 12000000, 12000000, 12000000, 12000000, 12000000, 12000000, 12000000, 12000000, 12000000, 12200000, 12200000, 12200000, 12250000, 12250000, 12250000, 12250000, 12250000, 12250000, 12250000, 12250000, 12250000, 12250000, 12300000, 12400000, 12495000, 12495000, 12495000, 12499000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12500000, 12575000, 12595000, 12600000, 12750000, 12750000, 12750000, 12750000, 12750000, 12750000, 12750000, 12750000, 12750000, 12750000, 12750000, 12750000, 12800000, 12840000, 12850000, 12850000, 12900000, 12900000, 12900000, 12900000, 12900000, 12900000, 12900000, 12950000, 12950000, 12950000, 12950000, 12950000, 12950000, 12950000, 12950000, 12950000, 12950000, 12950000, 12950000, 12950000, 12990000, 12990000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12995000, 12999000, 12999000, 12999000, 13000000, 13000000, 13000000, 13000000, 13000000, 13000000, 13000000, 13000000, 13018400, 13020000, 13200000, 13250000, 13250000, 13450000, 13450000, 13450000, 13450000, 13495000, 13495000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13500000, 13595000, 13595000, 13595000, 13650000, 13700000, 13700000, 13700000, 13750000, 13750000, 13750000, 13750000, 13750000, 13750000, 13750000, 13795000, 13800000, 13800000, 13900000, 13900000, 13900000, 13900000, 13900000, 13900000, 13900000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13950000, 13975000, 13990000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13995000, 13997500, 13999000, 14000000, 14000000, 14000000, 14000000, 14000000, 14000000, 14000000, 14000000, 14250000, 14250000, 14250000, 14350000, 14350000, 14495000, 14495000, 14495000, 14495000, 14500000, 14500000, 14500000, 14500000, 14500000, 14500000, 14500000, 14500000, 14500000, 14500000, 14500000, 14500000, 14500000, 14500000, 14700000, 14750000, 14750000, 14750000, 14750000, 14750000, 14750000, 14750000, 14750000, 14755000, 14755000, 14755000, 14775000, 14835000, 14850000, 14850000, 14850000, 14890000, 14890000, 14900000, 14900000, 14900000, 14900000, 14900000, 14900000, 14900000, 14900000, 14900000, 14900000, 14900000, 14900000, 14900000, 14900000, 14944250, 14950000, 14950000, 14950000, 14950000, 14950000, 14950000, 14950000, 14950000, 14950000, 14950000, 14950000, 14950000, 14990000, 14990000, 14990000, 14990000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995000, 14995995, 14999000, 15000000, 15000000, 15000000, 15000000, 15000000, 15000000, 15000000, 15000000, 15000000, 15000000, 15000000, 15000000, 15000000, 15000000, 15000000, 15000000, 15200000, 15249000, 15250000, 15250000, 15500000, 15500000, 15500000, 15500000, 15500000, 15500000, 15500000, 15500000, 15550000, 15675000, 15750000, 15750000, 15750000, 15750000, 15750000, 15795000, 15800000, 15800000, 15800000, 15890000, 15895000, 15900000, 15900000, 15900000, 15900000, 15900000, 15900000, 15900000, 15900000, 15900000, 15900000, 15950000, 15950000, 15950000, 15950000, 15950000, 15950000, 15950000, 15950000, 15950000, 15950000, 15950000, 15950000, 15995000, 15995000, 15995000, 15995000, 15995000, 15995000, 15995000, 15995000, 15995000, 15995000, 15995000, 15995000, 15995000, 15995000, 15999000, 15999000, 15999000, 16000000, 16000000, 16000000, 16000000, 16000000, 16000000, 16000000, 16000000, 16000000, 16094250, 16250000, 16499000, 16500000, 16500000, 16500000, 16500000, 16500000, 16500000, 16500000, 16500000, 16500000, 16500000, 16500000, 16500000, 16500000, 16500000, 16600000, 16750000, 16750000, 16750000, 16800000, 16850000, 16900000, 16900000, 16900000, 16900000, 16900000, 16900000, 16900000, 16900000, 16950000, 16950000, 16950000, 16990000, 16995000, 16995000, 16995000, 16995000, 16995000, 16995000, 16995000, 16995000, 16995000, 17000000, 17000000, 17000000, 17215300, 17215300, 17250000, 17250000, 17250000, 17265000, 17265000, 17265300, 17300000, 17385000, 17400000, 17500000, 17500000, 17500000, 17500000, 17500000, 17500000, 17500000, 17500000, 17500000, 17500000, 17500000, 17500000, 17500000, 17500000, 17500000, 17750000, 17750000, 17750000, 17750000, 17800000, 17950000, 17950000, 17950000, 17950000, 17950000, 17950000, 17995000, 17995000, 17995000, 17995000, 17995000, 18000000, 18000000, 18000000, 18000000, 18000000, 18000000, 18000000, 18000000, 18170000, 18200000, 18495000, 18500000, 18500000, 18500000, 18500000, 18500000, 18500000, 18700000, 18750000, 18750000, 18750000, 18800000, 18900000, 18900000, 18900000, 18950000, 18950000, 18950000, 18950000, 18950000, 18990000, 18990000, 18995000, 18995000, 18995000, 18995000, 18995000, 18995000, 19000000, 19000000, 19000000, 19000000, 19000000, 19000000, 19000000, 19000000, 19000000, 19200000, 19200000, 19250000, 19495000, 19500000, 19500000, 19500000, 19500000, 19500000, 19500000, 19500000, 19750000, 19750000, 19800000, 19900000, 19900000, 19900000, 19900000, 19900000, 19900000, 19900000, 19900000, 19900000, 19950000, 19950000, 19950000, 19950000, 19950000, 19950000, 19950000, 19950000, 19950000, 19950000, 19950000, 19950000, 19950000, 19950000, 19950000, 19975000, 19990000, 19990000, 19995000, 19995000, 19995000, 19995000, 19995000, 19995000, 19995000, 19995000, 19995000, 19995000, 19995000, 19995000, 19995000, 19995000, 19995000, 19995000, 19999000, 19999500, 19999999, 20000000, 20000000, 20000000, 20000000, 20000000, 20000000, 20250000, 20500000, 20500000, 20800000, 20950000, 20950000, 20950000, 20950000, 20995000, 21000000, 21000000, 21000000, 21000000, 21500000, 21500000, 21500000, 21500000, 21500000, 21750000, 21850000, 21850000, 21900000, 21900000, 21900000, 21950000, 21950000, 21950000, 21995000, 21995000, 21995000, 21995000, 21995000, 22000000, 22000000, 22000000, 22000000, 22000000, 22000000, 22500000, 22500000, 22750000, 22900000, 22950000, 22950000, 22995000, 22995000, 22995000, 22995000, 22995000, 22999000, 23000000, 23000000, 23000000, 23000000, 23000000, 23000000, 23000000, 23000000, 23000000, 23000000, 23000000, 23500000, 23500000, 23500000, 23500000, 23500000, 23800000, 23900000, 23950000, 23950000, 23950000, 23950000, 23950000, 23995000, 24000000, 24000000, 24000000, 24000000, 24500000, 24500000, 24500000, 24725000, 24725000, 24750000, 24750000, 24750000, 24800000, 24800000, 24900000, 24900000, 24900000, 24900000, 24900000, 24900000, 24950000, 24950000, 24950000, 24950000, 24950000, 24975000, 24990000, 24995000, 24995000, 24995000, 24995000, 24995000, 24995000, 24995000, 24999000, 24999000, 25000000, 25000000, 25000000, 25000000, 25000000, 25000000, 25000000, 25000000, 25000000, 25000000, 25000000, 25200000, 25500000, 25500000, 25500000, 25500000, 25900000, 25950000, 25950000, 25950000, 25995000, 25995000, 25995000, 25995000, 26000000, 26000000, 26000000, 26000000, 26000000, 26000000, 26000000, 26100000, 26500000, 26500000, 26750000, 26900000, 26950000, 26950000, 26995000, 26995000, 26995000, 26995000, 27000000, 27000000, 27000000, 27000000, 27500000, 27500000, 27500000, 27950000, 27995000, 28000000, 28000000, 28000000, 28000000, 28000000, 28000000, 28000000, 28000000, 28000000, 28500000, 28500000, 28650000, 28650000, 28650000, 28750000, 28950000, 28995000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29000000, 29490000, 29500000, 29500000, 29500000, 29500000, 29500000, 29640000, 29750000, 29900000, 29900000, 29900000, 29950000, 29950000, 29950000, 29995000, 29995000, 29995000, 29995000, 29995000, 29995000, 29995000, 29995000, 29995000, 29995000, 29999000, 29999000, 30000000, 30000000, 30000000, 30000000, 30000000, 30000000, 30990000, 31000000, 31500000, 32000000, 32000000, 32000000, 32000000, 32000000, 32000000, 32000000, 32000000, 32000000, 32500000, 32500000, 32500000, 33250000, 33500000, 33925000, 33995000, 34000000, 34000000, 34500000, 34500000, 34500000, 34500000, 34950000, 35000000, 35000000, 35000000, 35000000, 35000000, 35000000, 35000000, 35000000, 35000000, 35000000, 35900000, 36000000, 36000000, 36000000, 36900000, 37500000, 37500000, 37750000, 37950000, 38000000, 38000000, 38000000, 38500000, 38950000, 39000000, 39000000, 39000000, 39000000, 39500000, 39500000, 39500000, 39500000, 39950000, 39950000, 39995000, 39995000, 39995000, 40000000, 40000000, 40000000, 40250000, 41400000, 41500000, 42000000, 42000000, 42000000, 42000000, 42000000, 43500000, 44000000, 45000000, 45000000, 45000000, 45000000, 45000000, 45000000, 45000000, 45000000, 45000000, 47500000, 49000000, 49000000, 49000000, 49500000, 49500000, 49990000, 50000000, 50000000, 52000000, 52500000, 55000000, 55000000, 55000000, 55000000, 55000000, 56000000, 56000000, 59000000, 59000000, 59500000, 59950000, 59950000, 59950000, 59995000, 60000000, 64700000, 65000000, 65000000, 68000000, 69000000, 69000000, 69500000, 69995000, 70000000, 73000000, 75000000, 75000000, 75000000, 80000000, 85000000, 86250000, 90000000, 92500000, 95000000, 120000000, 150000000, 172500000]

In [512]:
import numpy as np
import scipy.stats as stats
out=[]
def ZRscore_outlier(df):
    med = np.median(df)
    ma = stats.median_absolute_deviation(df)
    for i in df: 
        z = (0.6745*(i-med))/ (np.median(ma))
        if np.abs(z) > 3: 
            out.append(i)
    print("Outliers:",out)
ZRscore_outlier(y)

Outliers: [7450000, 7450000, 7450000, 7495000, 7495000, 7495000, 7495000, 7500000, 7500000, 7500000, 7500000, 7500000, 7500000, 7500000, 7500000, 7500000, 7500000, 7500000, 7500000, 7500000, 7500000, 7500000, 7599050, 7599050, 7695000, 7700000, 7750000, 7750000, 7750000, 7750000, 7780000, 7780000, 7795000, 7795000, 7795000, 7795000, 7800000, 7800000, 7900000, 7900000, 7900000, 7900000, 7900000, 7900000, 7900000, 7900000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7950000, 7992500, 7995000, 7995000, 7995000, 7995000, 7995000, 7995000, 7995000, 7995000, 7995000, 7995000, 7995000, 7999000, 7999000, 7999000, 8000000, 8000000, 8000000, 8200000, 8250000, 8250000, 8250000, 8250000, 8250000, 8250000, 8350000, 8400000, 8400000, 8400000, 8495000, 8495000, 8499000, 8500000, 8500000, 8500000, 8500000, 8500000, 8500000, 8500000, 8500000, 8500000, 8500000, 8550000, 8590000, 8650000, 8690000, 8700000, 8700000, 8750000, 8750000, 8750000, 8750000, 8750000, 8795000, 8850000, 8850000, 8860000, 8900000, 8900000, 8900000, 8950000, 8950000, 8950000, 8950000, 8950000, 8950000, 8995000, 8995000, 8995000, 8995000, 8995000, 8995000, 8999000, 9000000, 9250000, 9251000, 9300000, 9495000, 9495000, 9495000, 9500000, 9500000, 9500000, 9500000, 9500000, 9500000, 9700000, 9700000, 9750000, 9750000, 9750000, 9950000, 9950000, 9950000, 9950000, 9950000, 9950000, 9950000, 9950000, 9950000, 9950000, 9950000, 9975000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000, 9995000]

In [549]:
out=[]
def Zscore_outlier(df):
    for i in df: 
        z = (i-np.mean(df))/np.std(df)
        if np.abs(z) > 3: 
            out.append(i)
    print("Outliers:",out)
Zscore_outlier(X_testbla['park'])

Outliers: [12.0, 12.0, 14.0, 58.0, 12.0, 12.0, 11.0, 14.0, 11.0, 15.0, 12.0, 12.0, 14.0, 12.0, 12.0, 13.0, 14.0, 14.0, 12.0, 12.0, 12.0, 12.0, 22.0, 15.0, 14.0, 11.0, 13.0, 12.0, 14.0, 13.0, 30.0, 12.0, 12.0, 12.0, 11.0, 13.0, 11.0, 15.0, 11.0, 12.0, 12.0, 16.0, 12.0, 11.0, 13.0, 12.0, 13.0, 15.0, 11.0, 11.0, 12.0, 17.0, 11.0, 12.0, 14.0, 14.0, 12.0, 12.0, 11.0, 14.0, 13.0, 14.0, 13.0, 12.0, 12.0, 14.0, 11.0, 11.0, 12.0, 14.0, 11.0, 13.0, 12.0, 15.0, 13.0, 12.0, 12.0, 11.0, 12.0, 12.0, 15.0, 20.0, 12.0, 11.0, 13.0, 14.0, 13.0, 16.0, 20.0, 12.0, 11.0, 14.0, 18.0, 13.0, 12.0, 11.0, 15.0, 16.0, 14.0, 15.0]

Drop park column, with sizes merged: 5509149.595440613

In [ ]:
X_test_plus = X_test_plus.drop('park', 1)

In [ ]:
X_test_plus.head()

    Acc_type  bed  bath  Size_select    Size
0  Apartment  0.5   1.0            1    39.0
1  Apartment  4.0   3.0            1   137.0
2      House  4.0   3.0            2  1992.0
3      House  4.0   3.5            2  3999.0
4      House  4.0   4.0            2  1992.0

In [ ]:
X_test_plus['sub'] = X_full['sub']

In [ ]:
X_test_plus.head()

    Acc_type  bed  bath  Size_select    Size                    sub
0  Apartment  0.5   1.0            1    39.0             Rondebosch
1  Apartment  4.0   3.0            1   137.0  Cape Town City Centre
2      House  4.0   3.0            2  1992.0             Constantia
3      House  4.0   3.5            2  3999.0             Constantia
4      House  4.0   4.0            2  1992.0             Constantia

Drop suburbs with less than 10 houses: 5110512.005364064

In [ ]:
v = X_test_plus[['sub']]
X_test_plus1 = X_test_plus[v.replace(v.stack().value_counts()).gt(10).all(1)] 
y_test = y[v.replace(v.stack().value_counts()).gt(10).all(1)]

In [ ]:
len(X_test_plus1.index)

7160

In [ ]:
len(y_test.index)

7160

In [ ]:
 X_test_plus = X_test_plus1

In [ ]:
len(X_test_plus.index)

7160

In [185]:
X_test_plus = X_test_plus1[X_test_plus['area'] == 'northern-suburbs'].index
X_test_plus = X_test_plus1[X_test_plus['area'] == 'northern-suburbs']

In [186]:
X_test_plus.head()

     Acc_type  bed  bath  park              area  Size_select  Size
16  Apartment  1.0   1.0   1.0  northern-suburbs          1.0  38.0
26  Apartment  1.0   1.0   1.0  northern-suburbs          1.0  35.0
34  Apartment  1.0   1.0   1.0  northern-suburbs          1.0  38.0
47  Apartment  2.0   1.0   1.0  northern-suburbs          0.0   NaN
48  Apartment  1.0   1.0   1.0  northern-suburbs          0.0   NaN

End of data testing, beginning of pipeline and modeling

In [472]:
X_test = X_test_plus.copy()

In [473]:
X_test

        Acc_type  bed  bath  park               area  Size_select    Size
5      Apartment  2.0   1.0   1.0         cape-flats          0.0     NaN
8      Apartment  1.0   1.0   1.0   southern-suburbs          1.0    30.0
9      Apartment  2.0   1.0   1.0   southern-suburbs          0.0     NaN
10         House  3.0   1.0   1.0      strand-gordon          1.0   140.0
11         House  2.0   1.0   2.0         cape-flats          0.0     NaN
...          ...  ...   ...   ...                ...          ...     ...
15336      House  5.0   5.5   4.0   northern-suburbs          2.0  1040.0
15337      House  5.0   5.5   3.0   southern-suburbs          2.0   654.0
15338      House  5.0   6.0   8.0      somerset-west          2.0  1539.0
15343      House  6.0   5.5   6.0      somerset-west          2.0  1435.0
15344  Apartment  3.0   3.5   2.0  atlantic-seaboard          0.0     NaN

[12880 rows x 7 columns]

In [562]:
# Select categorical columns
categorical_cols = [cname for cname in X_test.columns if 
                    X_test[cname].dtype == "object"]

# Select numerical columns
numerical_cols = [cname for cname in X_test.columns if 
                X_test[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
my_cols = categorical_cols + numerical_cols
X_test = X_test[my_cols]

In [563]:
my_cols

['Acc_type', 'area', 'bed', 'bath', 'park', 'sizeErf']

In [564]:
X_test.head()

   Acc_type           area  bed  bath  park  sizeErf
12    House  strand-gordon  2.0   1.0   1.0    204.0
21    House     cape-flats  2.0   1.0   1.0    213.0
25    House     cape-flats  2.0   1.0   1.0    130.0
31    House     cape-flats  3.0   1.0   1.0    237.0
43    House     cape-flats  3.0   1.0   1.0    199.0

In [565]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor 

# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='most_frequent')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

Random Forest Model

In [566]:
# Define model
model_forest = RandomForestRegressor(n_estimators=200, random_state=0)

XGBoost Model

In [567]:
model_xgb = XGBRegressor(n_estimators=1000, learning_rate=0.05)

My pipelines

In [568]:
# Bundle preprocessing and modeling code in a pipeline
my_pipeline_forest = Pipeline(steps=[('preprocessor', preprocessor),
                      ('model', model_forest)
                     ])

my_pipeline_xgb = Pipeline(steps=[('preprocessor', preprocessor),
                      ('model', model_xgb)
                     ])

Cross_validation

In [234]:
from sklearn.model_selection import cross_val_score

# Multiply by -1 since sklearn calculates *negative* MAE
scores = -1 * cross_val_score(my_pipeline_forest, X_test, y,
                              cv=5,
                              scoring='neg_root_mean_squared_error')

print("RMSE scores:\n", scores)
print("Average RMSE score (across experiments):")
print(scores.mean())

RMSE scores:
 [ 636531.2760123   596149.22591833  880331.59330261 1252821.11278706
 2807090.41165888]
Average RMSE score (across experiments):
1234584.7239358362

In [ ]:

sorted(metrics.SCORERS.keys())

In [569]:
from sklearn.model_selection import cross_val_score
# Multiply by -1 since sklearn calculates *negative* RMSE
scores = -1 *  cross_val_score(my_pipeline_xgb, X_test, y,
                              cv=5,
                              scoring='neg_root_mean_squared_error')

print("RMSE scores:\n", scores)
print("Average RMSE score (across experiments):")
print(scores.mean())

[00:43:13] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:43:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:43:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:43:20] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:43:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE scores:
 [1203869.00433164 1102756.32444849 1126088.28357635 1424133.62212884
 3301573.49589116]
Average RMSE score (across experiments):
1631684.1460752974

In [570]:
params = {
        'model__min_child_weight': [1, 5, 10],
        'model__gamma': [0.5, 1, 1.5, 2, 5],
        'model__subsample': [0.6, 0.8, 1.0],
        'model__colsample_bytree': [0.6, 0.8, 1.0],
        'model__max_depth': [3, 4, 5]
        }

In [571]:
from sklearn.model_selection import RandomizedSearchCV
random_search = RandomizedSearchCV(my_pipeline_xgb, param_distributions=params, n_iter=5, scoring='neg_root_mean_squared_error', n_jobs=4, cv=5, verbose=3, random_state=1001 )

In [572]:
my_pipeline_xgb.get_params().keys()

dict_keys(['memory', 'steps', 'verbose', 'preprocessor', 'model', 'preprocessor__n_jobs', 'preprocessor__remainder', 'preprocessor__sparse_threshold', 'preprocessor__transformer_weights', 'preprocessor__transformers', 'preprocessor__verbose', 'preprocessor__num', 'preprocessor__cat', 'preprocessor__num__add_indicator', 'preprocessor__num__copy', 'preprocessor__num__fill_value', 'preprocessor__num__missing_values', 'preprocessor__num__strategy', 'preprocessor__num__verbose', 'preprocessor__cat__memory', 'preprocessor__cat__steps', 'preprocessor__cat__verbose', 'preprocessor__cat__imputer', 'preprocessor__cat__onehot', 'preprocessor__cat__imputer__add_indicator', 'preprocessor__cat__imputer__copy', 'preprocessor__cat__imputer__fill_value', 'preprocessor__cat__imputer__missing_values', 'preprocessor__cat__imputer__strategy', 'preprocessor__cat__imputer__verbose', 'preprocessor__cat__onehot__categories', 'preprocessor__cat__onehot__drop', 'preprocessor__cat__onehot__dtype', 'preprocessor__cat__onehot__handle_unknown', 'preprocessor__cat__onehot__sparse', 'model__base_score', 'model__booster', 'model__colsample_bylevel', 'model__colsample_bynode', 'model__colsample_bytree', 'model__gamma', 'model__importance_type', 'model__learning_rate', 'model__max_delta_step', 'model__max_depth', 'model__min_child_weight', 'model__missing', 'model__n_estimators', 'model__n_jobs', 'model__nthread', 'model__objective', 'model__random_state', 'model__reg_alpha', 'model__reg_lambda', 'model__scale_pos_weight', 'model__seed', 'model__silent', 'model__subsample', 'model__verbosity'])

In [573]:
random_search.fit(X_test, y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  25 out of  25 | elapsed:  1.2min finished

[01:16:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=Pipeline(memory=None,
                                      steps=[('preprocessor',
                                              ColumnTransformer(n_jobs=None,
                                                                remainder='drop',
                                                                sparse_threshold=0.3,
                                                                transformer_weights=None,
                                                                transformers=[('num',
                                                                               SimpleImputer(add_indicator=False,
                                                                                             copy=True,
                                                                                             fill_value=None,
                                                                                             missing_values=nan,
                                                                                             strategy='most_frequent',
                                                                                             verbose=0),
                                                                               ['bed',
                                                                                'bath',
                                                                                'park',
                                                                                'sizeE...
                                      verbose=False),
                   iid='deprecated', n_iter=5, n_jobs=4,
                   param_distributions={'model__colsample_bytree': [0.6, 0.8,
                                                                    1.0],
                                        'model__gamma': [0.5, 1, 1.5, 2, 5],
                                        'model__max_depth': [3, 4, 5],
                                        'model__min_child_weight': [1, 5, 10],
                                        'model__subsample': [0.6, 0.8, 1.0]},
                   pre_dispatch='2*n_jobs', random_state=1001, refit=True,
                   return_train_score=False,
                   scoring='neg_root_mean_squared_error', verbose=3)

In [574]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)
print('\n Best hyperparameters:')
print(random_search.best_params_)

 All results:
{'mean_fit_time': array([ 7.84768763, 13.71600442, 12.1783844 ,  9.149366  , 10.2734405 ]), 'std_fit_time': array([0.02558382, 0.0617043 , 0.06232907, 0.06923392, 2.06311944]), 'mean_score_time': array([0.11489019, 0.18528447, 0.16903076, 0.16188617, 0.08845406]), 'std_score_time': array([0.00897285, 0.01433543, 0.03216195, 0.0136444 , 0.02788261]), 'param_model__subsample': masked_array(data=[1.0, 0.6, 0.8, 1.0, 0.8],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_model__min_child_weight': masked_array(data=[5, 1, 5, 5, 1],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_model__max_depth': masked_array(data=[3, 5, 5, 5, 4],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_model__gamma': masked_array(data=[5, 1.5, 1, 5, 1],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_model__colsample_bytree': masked_array(data=[1.0, 0.8, 0.8, 0.6, 1.0],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'model__subsample': 1.0, 'model__min_child_weight': 5, 'model__max_depth': 3, 'model__gamma': 5, 'model__colsample_bytree': 1.0}, {'model__subsample': 0.6, 'model__min_child_weight': 1, 'model__max_depth': 5, 'model__gamma': 1.5, 'model__colsample_bytree': 0.8}, {'model__subsample': 0.8, 'model__min_child_weight': 5, 'model__max_depth': 5, 'model__gamma': 1, 'model__colsample_bytree': 0.8}, {'model__subsample': 1.0, 'model__min_child_weight': 5, 'model__max_depth': 5, 'model__gamma': 5, 'model__colsample_bytree': 0.6}, {'model__subsample': 0.8, 'model__min_child_weight': 1, 'model__max_depth': 4, 'model__gamma': 1, 'model__colsample_bytree': 1.0}], 'split0_test_score': array([-1175531.37232824, -1284441.16491125, -1265185.68290364,
       -1207911.10716927, -1224190.70972167]), 'split1_test_score': array([-1092958.19181013, -1114090.83352983, -1101702.32630884,
       -1110741.63349954, -1097887.84910319]), 'split2_test_score': array([-1116474.51999504, -1211485.48175   , -1191723.90761298,
       -1165186.86773942, -1167301.12813535]), 'split3_test_score': array([-1413862.13519022, -1542770.38257738, -1511051.80592102,
       -1472042.19389962, -1486911.9157833 ]), 'split4_test_score': array([-3318095.84606883, -3314670.89503223, -3317553.00070845,
       -3340900.08136633, -3311185.83290328]), 'mean_test_score': array([-1623384.41307849, -1693491.75156014, -1677443.34469099,
       -1659356.37673484, -1657495.48712936]), 'std_test_score': array([854965.30784165, 822957.66558012, 831264.49454327, 849901.20663593,
       837256.80203509]), 'rank_test_score': array([1, 5, 4, 3, 2], dtype=int32)}

 Best estimator:
Pipeline(memory=None,
         steps=[('preprocessor',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  SimpleImputer(add_indicator=False,
                                                                copy=True,
                                                                fill_value=None,
                                                                missing_values=nan,
                                                                strategy='most_frequent',
                                                                verbose=0),
                                                  ['bed', 'bath', 'park',
                                                   'sizeErf']),
                                                 ('cat',
                                                  Pipeline(memory=None,
                                                           steps=[('imputer...
                              colsample_bylevel=1, colsample_bynode=1,
                              colsample_bytree=1.0, gamma=5,
                              importance_type='gain', learning_rate=0.05,
                              max_delta_step=0, max_depth=3, min_child_weight=5,
                              missing=None, n_estimators=1000, n_jobs=1,
                              nthread=None, objective='reg:linear',
                              random_state=0, reg_alpha=0, reg_lambda=1,
                              scale_pos_weight=1, seed=None, silent=None,
                              subsample=1.0, verbosity=1))],
         verbose=False)

 Best hyperparameters:
{'model__subsample': 1.0, 'model__min_child_weight': 5, 'model__max_depth': 3, 'model__gamma': 5, 'model__colsample_bytree': 1.0}

In [387]:
X_full['sub'].nunique()

260

In [575]:
model_xgb = XGBRegressor(n_estimators=1000, learning_rate=0.05, subsample=1, min_child_weight=5, max_depth=3, gamma=5, colsample_bytree = 1)

In [576]:
my_pipeline_xgb = Pipeline(steps=[('preprocessor', preprocessor),
                      ('model', model_xgb)
                     ])

In [577]:
from sklearn.model_selection import cross_val_score
# Multiply by -1 since sklearn calculates *negative* RMSE
scores = -1 *  cross_val_score(my_pipeline_xgb, X_test, y,
                              cv=5,
                              scoring='neg_root_mean_squared_error')

print("RMSE scores:\n", scores)
print("Average RMSE score (across experiments):")
print(scores.mean())

[01:18:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[01:18:13] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[01:18:16] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[01:18:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[01:18:20] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE scores:
 [1175531.37232824 1092958.19181013 1116474.51999504 1413862.13519022
 3318095.84606883]
Average RMSE score (across experiments):
1623384.413078491